

#content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 50px;
    row-gap: 100px;
}

img {
    height: 100%;
    max-height: 250px;
    margin: auto;
}

#p1 {
    grid-column: 2/4;
}

#p2 {
    grid-column: 1/3;
}